<%- include('../partials/header') %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Airline</th>
      <th scope="col">Airport</th>
      <th scope="col">Flight Number</th>
      <th scope="col">Flight Departure Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= flight.airline %></th>
      <td><%= flight.airport %></td>
      <td><%= flight.flightNo %></td>
      <td><%= flight.departs.toLocaleDateString()%></td>
    </tr>
  </tbody>
</table>

<br><br>
<h2>Destination</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <label>Arrival Date:</label>
  <input type="date" name="arrival">
  <input type="submit" value="Add Destination">
</form>

<br><br>
<h2>All Destinations</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Airport</th>
      <th scope="col">Arrival</th>
    </tr>
  </thead>
  <tbody>
    <% flight.destinations.forEach(function(d) { %>
    <tr>
      <th scope="row"><%= d.airport %></th>
      <td><%= d.arrival.toLocaleDateString() %></td>
    </tr>
    <% }); %>
  </tbody>
</table>

  <br><br>
<h2>All Tickets</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Seat</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <% tickets.forEach(function(t) { %>
    <tr>
      <th scope="row"><%= t.seat %></th>
      <td><%= t.price %></td>
      <% }); %>
      <td><a class="nav-link" href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a></td>
    </tr>
  </tbody>
</table>

<%- include('../partials/footer') %>